# (1) Importing Libraries and Modules.

In [35]:
import numpy as np
import pandas as pd
from yaml import safe_load #using safe_load, I will be able to convert .yaml file to .pandas file
import os
from tqdm import tqdm

# (2) Extracting file names from the dataset.

In [36]:
filenames = [] # this list will contain all the names of the file extracted form the dataset.
for file in os.listdir('T20 Cricsheet Dataset'):
    filenames.append(os.path.join('T20 Cricsheet Dataset', file))

In [37]:
filenames[0:5]

['T20 Cricsheet Dataset\\1001349.yaml',
 'T20 Cricsheet Dataset\\1001351.yaml',
 'T20 Cricsheet Dataset\\1001353.yaml',
 'T20 Cricsheet Dataset\\1004729.yaml',
 'T20 Cricsheet Dataset\\1007655.yaml']

In [38]:
final_df = pd.DataFrame() # this would contain our final dataframe
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = pd.concat([df, final_df])
        counter += 1
final_df

100%|█████████████████████████████████████████████████████████████████████████████▉| 1432/1433 [14:22<00:00,  1.66it/s]

NotImplementedError:

In [39]:
backup = final_df.copy()

In [40]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,...,info.outcome.by.runs,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.match_type_number,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,Colombo,[2016-09-09],male,T20,4.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,NaN,[2016-09-06],male,T20,NaN,Australia,...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,Dubai,[2016-02-03],male,T20,NaN,Netherlands,...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,Mirpur,[2016-03-06],male,T20,8.0,India,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,Mirpur,[2016-03-04],male,T20,6.0,Pakistan,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,NaN,[2016-06-18],male,T20,NaN,Zimbabwe,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,Londonderry,[2016-09-05],male,T20,NaN,Hong Kong,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,NaN,[2017-02-22],male,T20,NaN,Australia,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,Victoria,[2017-02-19],male,T20,2.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,NaN,[2017-02-17],male,T20,5.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# (3) Data Cleaning

In [41]:
final_df['info.gender'].value_counts()

info.gender
male      966
female    466
Name: count, dtype: int64

In [42]:
final_df = final_df[final_df['info.gender'] == 'male'] #filtering only the male gameplay and exxluding all the female gameplay.
final_df.drop(columns = ['info.gender'], inplace = True) # Now, since all the data is about male after filtering, we drop the info.gender column as it is not needed now.
final_df

C:\Users\wel\AppData\Local\Temp\ipykernel_7144\4152749804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns = ['info.gender'], inplace = True) # Now, since all the data is about male after filtering, we drop the info.gender column as it is not needed now.

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,...,info.outcome.by.runs,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.match_type_number,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,Colombo,[2016-09-09],T20,4.0,Australia,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,NaN,[2016-09-06],T20,NaN,Australia,20,...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,Dubai,[2016-02-03],T20,NaN,Netherlands,20,...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,Mirpur,[2016-03-06],T20,8.0,India,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,Mirpur,[2016-03-04],T20,6.0,Pakistan,20,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,NaN,[2016-06-18],T20,NaN,Zimbabwe,20,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,Londonderry,[2016-09-05],T20,NaN,Hong Kong,20,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,NaN,[2017-02-22],T20,NaN,Australia,20,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,Victoria,[2017-02-19],T20,2.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,NaN,[2017-02-17],T20,5.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
final_df['info.match_type'].value_counts()

info.match_type
T20    966
Name: count, dtype: int64

In [44]:
final_df['info.overs'].value_counts()

info.overs
20    963
50      3
Name: count, dtype: int64

In [48]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns = ['info.overs', 'info.match_type'], inplace = True)
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.outcome.by.wickets,info.outcome.winner,info.player_of_match,info.teams,...,info.outcome.by.runs,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.match_type_number,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,Colombo,[2016-09-09],4.0,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,NaN,[2016-09-06],NaN,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,Dubai,[2016-02-03],NaN,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,Mirpur,[2016-03-06],8.0,India,[S Dhawan],"[Bangladesh, India]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,Mirpur,[2016-03-04],6.0,Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,NaN,[2016-06-18],NaN,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,Londonderry,[2016-09-05],NaN,Hong Kong,NaN,"[Ireland, Hong Kong]",...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,NaN,[2017-02-22],NaN,Australia,[A Zampa],"[Australia, Sri Lanka]",...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,Victoria,[2017-02-19],2.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,NaN,[2017-02-17],5.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# (4) Saving Your Work

Using `pickle.dump()` we are able to save our progress upto a certain point in time. This prevents us from again and again seeing processing the `.yaml` file()

**pickle.dump() arguments:**
* Dataframe variable
* open('{name of file where you want to dump the data}', 'wb')

In [49]:
import pickle
pickle.dump(final_df, open('dataset_level1.pkl', 'wb'))

# (5) Loading Your Work

Using `pickle.load()` we are able to load the previously saved progress.

**pickle.load() arguments:**

* open('{name of the file}', 'rb')

In [138]:
matches = pickle.load(open('dataset_level1.pkl', 'rb'))
matches

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.outcome.by.wickets,info.outcome.winner,info.player_of_match,info.teams,...,info.outcome.by.runs,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.match_type_number,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,Colombo,[2016-09-09],4.0,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,NaN,[2016-09-06],NaN,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,Dubai,[2016-02-03],NaN,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,Mirpur,[2016-03-06],8.0,India,[S Dhawan],"[Bangladesh, India]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,Mirpur,[2016-03-04],6.0,Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,NaN,[2016-06-18],NaN,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,Londonderry,[2016-09-05],NaN,Hong Kong,NaN,"[Ireland, Hong Kong]",...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,NaN,[2017-02-22],NaN,Australia,[A Zampa],"[Australia, Sri Lanka]",...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,Victoria,[2017-02-19],2.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,NaN,[2017-02-17],5.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# (6) Extracting Ball-By-Ball Data From The Dataset

In [139]:
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'extras': {'wides': 1},
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {0.3: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {0.4: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.5: {'batsman': 'TM Dilshan',
   'bowler': 'MA Starc',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.6: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.7: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.1: {'batsman': 'TM Dilshan',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'TM Dilshan',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['DA Warner'],
    'kind': 'caught',
    'player_out': 'TM Dilshan'}}},
 {1.3: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.6: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.1: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.2: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.3: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {2.4: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.5: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.6: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {3.2: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.3: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.5: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.6: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.1: {'batsman': 'MDKJ Perera',
   'bowler': 'GJ Maxwell',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.2: {'batsman': 'MDKJ Perera',
   'bowler': 'GJ Maxwell',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.3: {'batsman': 'DM de Silva',
   'bowler': 'GJ Maxwell',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {4.4: {'batsman': 'DM de Silva',
   'bowler': 'GJ Maxwell',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.5: {'batsman': 'DM de Silva',
   'bowler': 'GJ Maxwell',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'MDKJ Perera',
   'bowler': 'GJ Maxwell',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {5.1: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.2: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.3: {'batsman': 'MDKJ Perera',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.4: {'batsman': 'MDKJ Perera',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['DA Warner'],
    'kind': 'caught',
    'player_out': 'MDKJ Perera'}}},
 {5.5: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'LD Chandimal',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.6: {'batsman': 'LD Chandimal',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.1: {'batsman': 'LD Chandimal',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'LD Chandimal',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.3: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'LD Chandimal',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.4: {'batsman': 'LD Chandimal',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.5: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'LD Chandimal',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'LD Chandimal',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.1: {'batsman': 'LD Chandimal',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'caught and bowled', 'player_out': 'LD Chandimal'}}},
 {7.2: {'batsman': 'BKG Mendis',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'BKG Mendis',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.4: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'BKG Mendis',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.5: {'batsman': 'BKG Mendis',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.6: {'batsman': 'BKG Mendis',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.1: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'BKG Mendis',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'BKG Mendis',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {8.3: {'batsman': 'BKG Mendis',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.4: {'batsman': 'BKG Mendis',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.5: {'batsman': 'BKG Mendis',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'lbw', 'player_out': 'BKG Mendis'}}},
 {8.6: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.1: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'extras': {'legbyes': 1},
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {9.2: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {9.3: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.5: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.6: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.2: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.3: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.4: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.5: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.6: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.1: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {11.2: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.3: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.4: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.5: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.6: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.2: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.3: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['DA Warner'],
    'kind': 'caught',
    'player_out': 'CK Kapugedera'}}},
 {12.4: {'batsman': 'NLTC Perera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'NLTC Perera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['TM Head'],
    'kind': 'caught',
    'player_out': 'NLTC Perera'}}},
 {12.6: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'SS Pathirana',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'SS Pathirana',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.2: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'extras': {'wides': 1},
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.3: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'SS Pathirana',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.5: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.6: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {13.7: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'SS Pathirana',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'caught and bowled', 'player_out': 'SS Pathirana'}}},
 {14.2: {'batsman': 'S Prasanna',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.3: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'S Prasanna',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.5: {'batsman': 'S Prasanna',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.6: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {15.1: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.2: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.3: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.4: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.5: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.6: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.1: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'extras': {'wides': 1},
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {16.2: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {16.3: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'S Prasanna',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.6: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.7: {'batsman': 'S Prasanna',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.1: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.2: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {17.3: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.4: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['UT Khawaja'],
    'kind': 'caught',
    'player_out': 'S Prasanna'}}},
 {18.1: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.2: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.3: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.4: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'extras': {'wides': 1},
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {18.5: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.6: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.7: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'extras': {'noballs': 1},
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {18.8: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.1: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'extras': {'wides': 1},
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {19.2: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.3: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.4: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.5: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['JP Faulkner'],
    'kind': 'caught',
    'player_out': 'DM de Silva'}}},
 {19.6: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'non_striker': 'RAS Lakmal',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.7: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'non_striker': 'RAS Lakmal',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}]

In [140]:
matches

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.outcome.by.wickets,info.outcome.winner,info.player_of_match,info.teams,...,info.outcome.by.runs,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.match_type_number,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,Colombo,[2016-09-09],4.0,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,NaN,[2016-09-06],NaN,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,Dubai,[2016-02-03],NaN,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,Mirpur,[2016-03-06],8.0,India,[S Dhawan],"[Bangladesh, India]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,Mirpur,[2016-03-04],6.0,Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,NaN,[2016-06-18],NaN,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,Londonderry,[2016-09-05],NaN,Hong Kong,NaN,"[Ireland, Hong Kong]",...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,NaN,[2017-02-22],NaN,Australia,[A Zampa],"[Australia, Sri Lanka]",...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,Victoria,[2017-02-19],2.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,NaN,[2017-02-17],5.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75, 108, 150, 180, 268, 360, 443, 458, 584, 748, 982, 1052, 1111, 1226, 1345]:
        count += 1
        continue
    count += 1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
        'match_id': match_id,
        'teams': teams,
        'batting_team': batting_team,
        'ball': ball_of_match,
        'batsman': batsman,
        'bowler': bowler,
        'runs': runs,
        'player_dismissed': player_of_dismissed,
        'city': city,
        'venue': venue
    })
    delivery_df = pd.concat([delivery_df, loop_df])

In [142]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Sri Lanka, Australia]",Sri Lanka,0.1,MDKJ Perera,MA Starc,0,0,Colombo,R Premadasa Stadium
1,2,"[Sri Lanka, Australia]",Sri Lanka,0.2,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium
2,2,"[Sri Lanka, Australia]",Sri Lanka,0.3,MDKJ Perera,MA Starc,4,0,Colombo,R Premadasa Stadium
3,2,"[Sri Lanka, Australia]",Sri Lanka,0.4,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium
4,2,"[Sri Lanka, Australia]",Sri Lanka,0.5,TM Dilshan,MA Starc,1,0,Colombo,R Premadasa Stadium
...,...,...,...,...,...,...,...,...,...,...
120,964,"[Australia, Sri Lanka]",Australia,19.3,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground
121,964,"[Australia, Sri Lanka]",Australia,19.4,JP Faulkner,KMDN Kulasekara,1,0,NaN,Melbourne Cricket Ground
122,964,"[Australia, Sri Lanka]",Australia,19.5,JP Faulkner,KMDN Kulasekara,1,TD Paine,NaN,Melbourne Cricket Ground
123,964,"[Australia, Sri Lanka]",Australia,19.6,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground
124,964,"[Australia, Sri Lanka]",Australia,19.7,JP Faulkner,KMDN Kulasekara,4,0,NaN,Melbourne Cricket Ground

# (7) Excluding Unnecessary Data That May Otherwise Develop Some Bias

In [143]:
def bowl(col):
    for team in col['teams']: 
        if team != col['batting_team']:
            return team

In [144]:
# .apply() function is used to execute a perticular function over a perticular axis(0-rows, 1-columns) of the dataframe. It's arguments are:- 
# (1) function to apply, (2) axis on which the function has to be applied. 

delivery_df['bowling_team'] = delivery_df.apply(bowl, axis = 1)
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Sri Lanka, Australia]",Sri Lanka,0.1,MDKJ Perera,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
1,2,"[Sri Lanka, Australia]",Sri Lanka,0.2,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
2,2,"[Sri Lanka, Australia]",Sri Lanka,0.3,MDKJ Perera,MA Starc,4,0,Colombo,R Premadasa Stadium,Australia
3,2,"[Sri Lanka, Australia]",Sri Lanka,0.4,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
4,2,"[Sri Lanka, Australia]",Sri Lanka,0.5,TM Dilshan,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
...,...,...,...,...,...,...,...,...,...,...,...
120,964,"[Australia, Sri Lanka]",Australia,19.3,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
121,964,"[Australia, Sri Lanka]",Australia,19.4,JP Faulkner,KMDN Kulasekara,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
122,964,"[Australia, Sri Lanka]",Australia,19.5,JP Faulkner,KMDN Kulasekara,1,TD Paine,NaN,Melbourne Cricket Ground,Sri Lanka
123,964,"[Australia, Sri Lanka]",Australia,19.6,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
124,964,"[Australia, Sri Lanka]",Australia,19.7,JP Faulkner,KMDN Kulasekara,4,0,NaN,Melbourne Cricket Ground,Sri Lanka

In [145]:
delivery_df.drop(columns = ['teams'], inplace = True)

In [146]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Sri Lanka,0.1,MDKJ Perera,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
1,2,Sri Lanka,0.2,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
2,2,Sri Lanka,0.3,MDKJ Perera,MA Starc,4,0,Colombo,R Premadasa Stadium,Australia
3,2,Sri Lanka,0.4,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
4,2,Sri Lanka,0.5,TM Dilshan,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
...,...,...,...,...,...,...,...,...,...,...
120,964,Australia,19.3,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
121,964,Australia,19.4,JP Faulkner,KMDN Kulasekara,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
122,964,Australia,19.5,JP Faulkner,KMDN Kulasekara,1,TD Paine,NaN,Melbourne Cricket Ground,Sri Lanka
123,964,Australia,19.6,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
124,964,Australia,19.7,JP Faulkner,KMDN Kulasekara,4,0,NaN,Melbourne Cricket Ground,Sri Lanka

In [147]:
delivery_df['batting_team'].unique()

array(['Sri Lanka', 'Australia', 'Netherlands', 'Bangladesh',
       'United Arab Emirates', 'Pakistan', 'India', 'Afghanistan',
       'Hong Kong', 'Oman', 'Zimbabwe', 'Ireland', 'Papua New Guinea',
       'Scotland', 'England', 'New Zealand', 'South Africa',
       'West Indies', 'Nepal', 'Kenya', 'Canada', 'Bermuda', 'Bulgaria',
       'Romania', 'Isle of Man', 'Belgium', 'Malaysia', 'Singapore',
       'Thailand', 'Kuwait', 'Iran', 'Qatar', 'Maldives', 'Bhutan',
       'Germany', 'Vanuatu', 'Gibraltar', 'Spain', 'Portugal', 'Namibia',
       'Jersey', 'Nigeria', 'Botswana', 'Cayman Islands',
       'United States of America', 'Denmark', 'Guernsey', 'Norway',
       'Italy', 'Ghana', 'Uganda', 'Philippines'], dtype=object)

In [148]:
# these are the teams that we are going to keep in our dataset, as keeping those teams that do not play much cricket may develop some bias in our model
teams = [
    'India',
    'Australia',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'
]

In [149]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [150]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Sri Lanka,0.1,MDKJ Perera,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
1,2,Sri Lanka,0.2,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
2,2,Sri Lanka,0.3,MDKJ Perera,MA Starc,4,0,Colombo,R Premadasa Stadium,Australia
3,2,Sri Lanka,0.4,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
4,2,Sri Lanka,0.5,TM Dilshan,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
...,...,...,...,...,...,...,...,...,...,...
120,964,Australia,19.3,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
121,964,Australia,19.4,JP Faulkner,KMDN Kulasekara,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
122,964,Australia,19.5,JP Faulkner,KMDN Kulasekara,1,TD Paine,NaN,Melbourne Cricket Ground,Sri Lanka
123,964,Australia,19.6,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
124,964,Australia,19.7,JP Faulkner,KMDN Kulasekara,4,0,NaN,Melbourne Cricket Ground,Sri Lanka

In [151]:
output = delivery_df[[
    'match_id',
    'batting_team',
    'bowling_team',
    'ball',
    'runs',
    'player_dismissed',
    'city',
    'venue']]

In [152]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Sri Lanka,Australia,0.1,0,0,Colombo,R Premadasa Stadium
1,2,Sri Lanka,Australia,0.2,1,0,Colombo,R Premadasa Stadium
2,2,Sri Lanka,Australia,0.3,4,0,Colombo,R Premadasa Stadium
3,2,Sri Lanka,Australia,0.4,1,0,Colombo,R Premadasa Stadium
4,2,Sri Lanka,Australia,0.5,1,0,Colombo,R Premadasa Stadium
...,...,...,...,...,...,...,...,...
120,964,Australia,Sri Lanka,19.3,2,0,NaN,Melbourne Cricket Ground
121,964,Australia,Sri Lanka,19.4,1,0,NaN,Melbourne Cricket Ground
122,964,Australia,Sri Lanka,19.5,1,TD Paine,NaN,Melbourne Cricket Ground
123,964,Australia,Sri Lanka,19.6,2,0,NaN,Melbourne Cricket Ground
124,964,Australia,Sri Lanka,19.7,4,0,NaN,Melbourne Cricket Ground

In [153]:
pickle.dump(output, open('dataset_level2.pkl', 'wb'))